<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:sch="http://www.uninorte.edu.co/webservices/schemas">
   <soapenv:Header/>
   <soapenv:Body>
      <sch:id>${headers.applicationId}</sch:id>
   </soapenv:Body>
</soapenv:Envelope>